p { font-family: 'Josefin Sans', sans-serif; }

h4{ font-family: 'Josefin Sans', serif; }

.button-group .button { font-family: 'Josefin Sans', serif;

}

img{ width: 100%; }


.content img{
	          width: 80%;
	          margin: auto;

	          }

footer ul { list-style: none; 
      }

footer li { display: inline-block; }

.logo { width: 70%;
		height: 70%; 
		padding: 0;
		margin: auto;}

